*{
	font-family: 'Roboto', sans-serif;
}

.title-fonts{
	font-size: 20px;
	font-weight: 600;
}

.header-fonts{
	font-size: 20px;
	font-family: 'Poppins', sans-serif;
}
.card-shadow{
	box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.37);
	-webkit-box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.37);
	-moz-box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.37);
}
.card-shadow:hover{
	box-shadow: 10px 10px 5px 1px rgba(0,0,0,0.59);
	-webkit-box-shadow: 10px 10px 5px 1px rgba(0,0,0,0.59);
	-moz-box-shadow: 10px 10px 5px 1px rgba(0,0,0,0.59);
	transition: 1s;
}

.NavigationBarStyle{
	position: sticky;
	margin-bottom: 100px!important;
}

.carousel-img{
	width:  1300px!important;
	height: 700px;
}

.carousel-Container{
	background-color: #B0CFFF;
}

.inputForm-Table{
	display: flex;
	justify-content: center;
	align-items: ce;
}

.inputForm{

	width: 100px;
	border: 0;
	border-radius: 0;
	padding: 0;
	text-align: center;

}
.inputFormButton{
	border: 0;
	border-radius: 0;
	padding: 10px;
}